.heading {
  font-variant: all-small-caps;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-transform: uppercase;
  font-weight: 400;

  .main {
    font-size: clamp(calc(32rem / 16), calc(40vw / 7.68), calc(40rem / 16));
    line-height: 90%;
    letter-spacing: 0.025em;
    margin-bottom: 8px;

    &::first-letter {
      padding: 0px 4px;
      margin-right: 2px;
      float: left;
      background-color: var(--neutral-800, #070101);
      color: var(--neutral-200, #efefef);
    }
  }

  .sub {
    font-size: clamp(calc(20rem / 16), calc(22vw / 7.68), calc(22rem / 16));
    line-height: 120%;
    letter-spacing: 0.11em;
  }

  &[data-dark='true'] {
    color: var(--neutral-200, #efefef);
    .main::first-letter {
      color: var(--neutral-800, #070101);
      background-color: var(--neutral-200, #fefefe);
    }
  }
}
