// ------------- Global Variables -------------------

:root {
  --neutral-100: #fcfcfc;
  --neutral-200: #efefef;
  --neutral-300: #cccccc;
  --neutral-600: #696969;
  --neutral-800: #070101;

  --error: #a71e1e;

  --success: #38a35c;

  --visited: #503086;

  --pageMargin: clamp(16px, calc(32vw / 7.68), 40px);
  @media (max-width: 899px) and (min-width: 600px) {
    --pageMargin: clamp(40px, calc(80vw / 7.68), 80px);
  }
}

// ------------- Global Reset -----------------------

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

svg {
  display: block;
  height: auto;
}

canvas {
  touch-action: pan-y;
}

a {
  text-decoration: none;
  color: inherit;
}

label {
  display: block;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
}

::placeholder {
  color: inherit;
}

sup {
  font-size: 0.62em;
  vertical-align: top;
}
textarea {
  display: block;
}

input,
textarea,
button,
select {
  font: inherit;
  color: inherit;
  background-color: transparent;
  appearance: none;
  border: none;
  border-radius: 0;
}

ul,
li {
  list-style-type: none;
}
summary {
  cursor: pointer;
  list-style: none;
  &::marker,
  &::-webkit-details-marker {
    display: none;
  }
}

iframe {
  border: none;
  display: block;
}
video {
  display: block;
  max-width: 100%;
  height: auto;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  object-fit: cover;
}

:focus {
  outline: none;
}
:focus-visible {
  outline: 2px solid var(--neutral-600, #696969);
  outline-offset: 5px;
}

html,
body {
  overflow-x: clip;
}
html {
  scroll-behavior: smooth;
}

.max-width {
  max-width: 1206px;
  width: calc(100% - var(--pageMargin) * 2);
  height: 100%;
  margin: 0 auto;
}

body {
  overflow: clip;
  min-width: 320px;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--neutral-800, #070101);
  background-color: var(--neutral-200, #efefef);
  font-size: calc(16rem / 16);
  line-height: 170%;
  background-color: var(--neutral-800);
  font-family: var(--font-gentiumRegularTTF);
  font-family: var(--font-gentiumRegularWOFF);
  font-family: var(--font-gentiumRegularWOFF2);
}

main {
  flex-grow: 1;
}

h1,
.h1,
h2,
.h2 {
  line-height: 90%;
  font-size: clamp(calc(32rem / 16), calc(40vw / 7.68), calc(40rem / 16));
  letter-spacing: calc(0.4rem / 16);
  font-variant: all-small-caps;
  font-weight: 400;
}
