.section {
  padding: clamp(32px, calc(64vw / 7.68), 80px) 0 clamp(16px, calc(64vw / 7.68), 80px);

  header {
    margin-bottom: clamp(32px, calc(64vw / 7.68), 64px);
    max-width: 380px;
  }
  .faq {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 32px;

    .box {
      display: grid;
      align-items: flex-start;
      grid-template-columns: clamp(32px, calc(40vw / 7.68), 40px) 1fr;
      column-gap: 8px;
      padding-bottom: 48px;
      cursor: pointer;
    }

    img {
      aspect-ratio: 1/1;
      width: 100%;
    }

    .user {
      width: clamp(32px, calc(40vw / 7.68), 40px);
      aspect-ratio: 1/1;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--neutral-300, #ccc);
      flex-shrink: 0;
    }

    details {
      summary {
        background-color: var(--neutral-100, #fcfcfc);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px 10px 12px;
        column-gap: 8px;
        flex: 1;
        transition: background-color 0.15s var(--easing);

        h2,
        h3 {
          font-weight: 400;
          font-size: calc(16rem / 16);
        }

        &:hover,
        &:focus {
          background-color: var(--neutral-300, #ccc);
        }
      }

      .container {
        overflow: hidden;
        padding: 0 16px 0 20px;
        cursor: auto;

        > *:first-child {
          padding-top: 16px;
        }

        a {
          margin-top: 32px;
        }

        > div:last-of-type {
          max-width: max-content;
        }

        .cta {
          display: flex;
          flex-direction: column;
          min-width: max-content;
          gap: 12px;
        }
      }
    }
  }

  @media (max-width: 1023px) {
    max-width: 608px;
    .faq {
      grid-template-columns: 1fr;

      .box {
        padding-bottom: 32px;
      }
    }
  }

  @media (max-width: 599px) {
    .faq {
      .box {
        padding-bottom: clamp(16px, calc(24vw / 5.99), 24px);

        details {
          overflow: hidden;

          .container {
            padding: 0;

            > *:first-child {
              padding-top: 12px;
            }
            a {
              margin-bottom: 12px;
            }
          }
        }
      }
    }
  }
}
