.section {
  padding: clamp(32px, calc(64vw / 7.68), 80px) 0 clamp(16px, calc(64vw / 7.68), 80px);
  display: flex;
  gap: 32px;
  align-items: flex-start;

  header {
    max-width: 484px;
    flex-grow: 1;
  }

  .container {
    background-color: var(--neutral-100, #fcfcfc);
    padding: 16px;
    position: relative;
    max-width: 690px;
    width: 100%;

    .col {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: end;

      > img {
        top: 0;
        left: 0;
        z-index: 1;
        max-width: 310px;
        width: calc(100% - 2px);
        align-self: flex-start;
        margin-left: 1px;
      }
      .box {
        margin-top: -130px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        gap: 48px;
        background-color: var(--neutral-200, #efefef);
        max-width: 571px;
        padding: 16px;

        .list {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          > li:nth-child(odd) {
            border-right: 1px solid var(--neutral-300, #ccc);
          }

          > li:not(:first-child):not(:nth-child(2)) {
            border-top: 1px solid var(--neutral-300, #ccc);
          }

          .item {
            background-color: var(--neutral-200, #efefef);
            padding: 16px 12px;
          }
        }

        .cta {
          display: flex;
          align-items: center;
          column-gap: 20px;
          row-gap: 12px;
          justify-content: end;
          flex-wrap: wrap;

          .preCta {
            font-weight: 700;
            font-variant: all-small-caps;
          }

          a {
            border: 1px solid var(--neutral-800, #ccc);
            padding: 14px 32px;
            color: var(--neutral-800, #070101);

            &::before {
              background-color: var(--neutral-800);
            }

            &:hover {
              color: var(--neutral-100);
            }

            &:focus {
              &::before {
                background-color: var(--neutral-800);
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 1023px) {
    flex-direction: column;
    header,
    .container {
      max-width: 608px;
      align-self: center;
      .col {
        .box {
          max-width: none;
        }
      }
    }
  }

  @media (max-width: 469px) {
    .container {
      .col {
        .box {
          .list {
            grid-template-columns: 1fr;

            > li:nth-child(odd) {
              border-right: none;
            }

            > li:nth-child(2) {
              border-top: 1px solid var(--neutral-300, #ccc);
            }
          }

          .cta {
            justify-content: start;
          }
        }
      }
    }
  }
}
