.button {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;

  &[data-theme='primary'] {
    position: relative;
    overflow: hidden;
    line-height: 170%;
    font-weight: 700;
    z-index: 5;
    text-transform: uppercase;
    gap: 16px;
    padding: 12px 14px;
    transition: color 0.2s var(--easing);

    &[data-shade='light'] {
      color: var(--neutral-800, #070101);
      &::after {
        background-color: var(--neutral-200, #efefef);
      }

      &::before {
        background-color: var(--neutral-300, #ccc);
      }
    }
    &[data-shade='dark'] {
      color: var(--neutral-200, #efefef);
      &::after {
        background-color: var(--neutral-800, #070101);
      }

      &::before {
        background-color: var(--neutral-600, #696969);
      }
    }
    &[data-shade='gray'] {
      color: var(--neutral-800, #070101);
      &::after {
        background-color: var(--neutral-300, #ccc);
      }

      &::before {
        background-color: var(--neutral-600, #ccc);
      }
    }

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: -110%;
      width: 110%;
      height: 100%;
      transition:
        transform 0.2s var(--easing),
        background-color 0.2s var(--easing);
      z-index: -1;
    }

    &::after {
      position: absolute;
      content: '';
      inset: 0;
      z-index: -2;
    }

    &:hover:not(:disabled) {
      &::before {
        transform: translateX(100%);
      }

      &[data-shade='gray'] {
        color: var(--neutral-200, #efefef);
      }
    }

    &:focus:not(:focus-visible):not(:disabled) {
      &[data-shade='light'] {
        &::before {
          background-color: var(--neutral-100, #fcfcfc);
        }
      }

      &[data-shade='dark'],
      &[data-shade='gray'] {
        color: var(--neutral-100, #fcfcfc);
      }
    }

    &:focus-visible {
      &[data-shade='light'] {
        outline: 2px solid var(--neutral-600, #696969);
      }
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  &[data-theme='secondary'] {
    color: var(--neutral-800, #070101);
    position: relative;
    line-height: 170%;
    gap: 8px;
    padding: 4px 8px;
    border-bottom: 1px solid var(--neutral-300, #ccc);
    overflow: hidden;
    z-index: 2;

    &[data-shade='light'] {
      color: var(--neutral-100, #fcfcfc);

      &::before {
        background-color: var(--neutral-600, #696969);
      }
    }

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: -100%;
      transition:
        transform 0.2s var(--easing),
        background-color 0.2s var(--easing);
      background-color: var(--neutral-300, #ccc);
      z-index: -1;
    }

    &:hover:not(:disabled) {
      &::before {
        transform: translateX(100%);
      }
    }

    &:focus:not(:focus-visible):not(:disabled) {
      &[data-shade='dark'] {
        &::before {
          background-color: var(--neutral-100, #fcfcfc);
        }
      }
    }
  }
}
